<h1>University Database in Angular</h1>
<form>
 <div class="form-group">
    <label for="universityName">University Name</label>
 <input type="text" class="form-control" name="name" [(ngModel)]="name">
</div><br> 
<div class="form-group">
    <label for="universityAddress">University Address</label>
 <input type="text" class="form-control" name="address" [(ngModel)]="address">
</div><br>
<div class="form-group">
    <label for="universityPhone">University Phone Number</label>
 <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
</div><br>
<div class="btn-toolbar">
    <button type="submit" (click)="saveUniversity()"> Save</button>
    <button type="submit" (click)="removeUniversity()"> Delete</button>
    <br>
</div>
<div class="form-group">
    <br>
    <label for="universityName">Search University by Name</label>
 <input type="text" class="form-control" name="sName" [(ngModel)]="sName">
</div><br>
<div class="btn-toolbar">
    <button type="submit" (click)="searchUniversity()"> Search</button>
    <button type="submit" (click)="searchAllUniversity()"> All Universities</button>
</div>
</form>